---
import { Image } from "astro:assets";
import { cn } from "../../util";
---

<div class="">
  <div class="max-w-[36rem] aspect-[1.02] relative" data-hero-visual-parent>
    <div
      class={cn(
        "w-[calc((294/786)*100%)] z-20 left-[calc((275/786)*100%)] top-0 absolute"
        // "translate-y-[20%] opacity-0"
      )}
      data-iphone
    >
      <Image
        src={"/images/hero/iphone.png"}
        width={667}
        height={1662}
        alt={"Finzo App in an IPhone."}
      />
    </div>
    <div
      class={cn(
        "w-[calc((292.86/786)*100%)] z-40 left-[calc((443/786)*100%)] top-[calc((104/771)*100%)] origin-left absolute"
        // "translate-y-[20%] scale-[0.7] opacity-0"
      )}
      data-visa
    >
      <Image
        src={"/images/hero/slice3.png"}
        width={661}
        height={1081}
        alt={"A visa trigger of a finzo user!"}
      />
    </div>
    <div
      class={cn(
        "w-[calc((153.61/786)*100%)] z-30 absolute left-[calc((265/786)*100%)] top-[calc((163/771)*100%)] origin-left"
        // "translate-y-[20%] scale-[0.7] opacity-0"
      )}
      data-oneapp
    >
      <Image
        src={"/images/hero/slice2.png"}
        width={592}
        height={697}
        alt={"One app for all!"}
      />
    </div>
    <div
      class={cn(
        "w-[calc((167.22/786)*100%)] z-10 absolute left-[calc((181/786)*100%)] top-[calc((325/771)*100%)] origin-left"
        // "translate-y-[20%] scale-[0.7] opacity-0"
      )}
      data-secure
    >
      <Image
        src={"/images/hero/slice1.png"}
        width={592}
        height={1004}
        alt={"Secure payment!"}
      />
    </div>
  </div>
</div>

<style></style>

<script>
  import { gsap } from "gsap";
  const selectors = {
    parent: "[data-hero-visual-parent]",
    iphone: "[data-iphone]",
    visa: "[data-visa]",
    oneapp: "[data-oneapp]",
    secure: "[data-secure]",
  };

  const tl = gsap.timeline();

  tl.from(selectors.iphone, {
    yPercent: 20,
    opacity: 0,
    ease: "back.out",
    duration: 0.4,
  })
    .from(
      selectors.secure,
      {
        yPercent: 30,
        opacity: 0,
        ease: "back.out",
        duration: 0.4,
      },
      "-=0.2"
    )
    .from(
      selectors.oneapp,
      {
        scale: 0.5,
        opacity: 0,
        ease: "back.out",
        duration: 0.4,
      },
      "-=0.3"
    )
    .from(
      selectors.visa,
      {
        scale: 0.5,
        opacity: 0,
        duration: 0.4,
        ease: "back.out",
      },
      "-=0.1"
    );
</script>
