---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/hero/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Hero />
  </main>
</Layout>
