---
import BrandIcon from "../components/BrandIcon.astro";
---

<header class="h-32">
  <nav class="container-main flex items-center h-full">
    <span class="inline-flex gap-2 items-center"
      ><BrandIcon />
      <span class="font-bold text-2xl">Finzo</span>
    </span>
  </nav>
</header>
