---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-background font-helv text-text antialiased selection:bg-primary"
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Helvetica Now Display";
    src:
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff2")
        format("woff2"),
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Helvetica Now Display";
    src:
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff2")
        format("woff2"),
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff")
        format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Helvetica Now Display";
    src:
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff2")
        format("woff2"),
      url("/fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @tailwind base;

  @layer base {
    :root {
      --text: 0 0% 9%;
      --background: 0 0% 100%;
      --primary: 50 100% 60%;
      --secondary: 218 15% 55s%;
      --outline: 0 0% 94%;
      --nav-height: 6rem;
    }

    .container-main {
      @apply mx-auto w-[min(80rem,100%-2*(var(--cont-px)))] [--cont-px:4rem];
    }
  }
</style>
